*.pyc
*venv*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Unit test / coverage reports
.coverage
htmlcov

# Pycharm
.idea/*

# Vim
*.sw[op]

# Static files
mysite/staticfiles/*

# Config
mysite/local_settings.py
