{% if request.user.is_authenticated %}
  <div class="btn-group" id="manage-action-button">
    {% if object in request.user.profile.actions.all %}
        <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
          {% ifequal par.status 'don' %}
            Action Taken
          {% else %}
            Manage Action
          {% endifequal %}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% ifequal par.status 'don' %}
              <li><a class="manage-action-links" href="{% url 'mark_as_done' object.slug 'accepted' %}">
                Change status to 'accepted'</a></li>
          {% else %}
              <li><a class="manage-action-links" href="{% url 'mark_as_done' object.slug 'done' %}">
                Mark as Done</a></li>
          {% endifequal %}
          <li class="divider"></li>
          <li><a class="manage-action-links" href="{% url 'manage_action_for_profile' object.slug %}">
            Add to slates</a></li>
          <li><a class="manage-action-links" href="{% url 'manage_action_for_profile' object.slug %}">
            Suggest to friends</a></li>
          <li><a class="manage-action-links" href="{% url 'manage_action_for_profile' object.slug %}">
            Change settings</a></li>
          <li class="divider"></li>
          <li><a class="manage-action-links" href="{% url 'toggle_action_for_profile' object.slug 'remove' %}">
            Remove Action</a></li>
        </ul>
      {% else %}
          <a id="manage-action-button" href="{% url 'toggle_action_for_profile' object.slug 'add' %}" class="btn btn-primary btn-sm">
            Take Action</a>
          <a id="already-done-button" href="{% url 'mark_as_done' object.slug 'done' %}" class="btn btn-success btn-sm">
            Finished</a>
      {% endif %}
  </div>
  {% endif %}
