{% extends "mysite/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% if new_user %}
<div class="row">
   <div class="col-sm-6 col-sm-offset-3">
     <div class="alert alert-dismissible alert-success">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       Looks like you're new!  You can get started by <strong><a href="{% url 'find-actions-landing' %}">
         finding actions</a></strong> or <strong><a href="{% url 'create-actions-landing' %}">
         creating actions</a></strong>, and soon your dash will fill up with activity.
     </div>
   </div>
</div>
{% endif %}

<div class="row">

   <div class="col-sm-4">
     {% include 'profiles/dash_panels/open_actions.html' %}
   </div>

   <div class="col-sm-4">
     {% include 'profiles/dash_panels/your_feed.html' %}
   </div>

   <div class="col-sm-4">

     {% include 'profiles/dash_panels/activity_log.html' %}

     {% include 'profiles/dash_panels/your_filters.html' %}

     {% include 'profiles/dash_panels/your_connections.html' %}

     {% include 'profiles/dash_panels/slates_you_follow.html' %}

     {% include 'profiles/dash_panels/content_you_created.html' %}

   </div>
 </div>

{% endblock content %}
