{% extends "mysite/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  {% if new_user %}
    <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
         <div class="alert alert-dismissible alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
             <p>Welcome to {{ SITE_NAME }}! Check out our <strong><a href="{% url 'actions' %}">
             actions</a></strong> and our <strong><a href="{% url 'community' %}">
             community</a></strong> to get started.</p>
             <p>You can also <a href="{% url 'settings' %}">adjust your account settings</a> and
             <a href="{% url 'edit_profile' %}">add info to your profile</a>.</p>
         </div>
       </div>
    </div>
  {% else %}
    {% include 'profiles/gamify_include.html' %}
  {% endif %}

  <div class="row">

     <div class="col-sm-5 col-sm-offset-1">
       {% if suggested_pars %}
         {% include 'profiles/dash_panels/suggested_actions.html' %}
       {% endif %}

       {% include 'profiles/to_do_panel.html' %}
     </div>

     <div class="col-sm-5">
       {% include 'profiles/followed_activity_panel.html' %}
     </div>

  </div>

{% endblock content %}
