
<div class="actstream-action">
  <a href="{{ action.actor.profile.get_absolute_url }}">{{ action.actor }}</a> {{ action.verb }}
  {% if action.action_object %}
  <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a> to
  {% endif %}
  {% if action.target.get_absolute_url %}
    <a href="{{ action.target.get_absolute_url }}">
  {% else %}
    <a href="{{ action.target.profile.get_absolute_url }}">
  {% endif %}
  {{ action.target }}</a>
</div>
<div class="actstream-action-time">
  {{ action.timestamp }}
</div>
