{% extends "mysite/base.html" %}

{% block content %}

{% load activity_tags %}

<div class="row">
   <div class="col-sm-3 col-sm-offset-1">
     <h2>People You Follow</h2>
     {% include 'profiles/friend_list_include.html' with object_list=profiles %}
   </div>

   <div class="col-sm-6 col-sm-offset-1">
     <h2>Your Feed</h2>
      {% activity_stream 'user' user with_user_activity=True %}
      {% for action in stream %}
          <div class="actstream-action">{% display_action action %}</div>
      {% endfor %}
   </div>
</div>

{% endblock content %}
