{% extends "mysite/base.html" %}

{% block content %}

{% load activity_tags %}
{% load profile_extras %}

<div class="row">
   <div class="col-sm-3 col-sm-offset-1">
     <h2>People You Follow</h2>
     {% include 'profiles/friend_list_include.html' with object_list=profiles %}
   </div>

   <div class="col-sm-6 col-sm-offset-1">
     <h2>Your Feed</h2>
      {% activity_stream 'user' user with_user_activity=True %}
      {% for action in stream %}
        {% filtered_feed action as filtered_action %}
        {% if filtered_action %}
          <div class="actstream-action">
            <a href="{{ action.actor.profile.get_absolute_url }}">{{ action.actor }}</a> {{ action.verb }}
            {% if action.action_object %}
            <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a> to
            {% endif %}
            {% if action.target.get_absolute_url %}
              <a href="{{ action.target.get_absolute_url }}">
            {% else %}
              <a href="{{ action.target.profile.get_absolute_url }}">
            {% endif %}
            {{ action.target }}</a>
          </div>
          <div class="actstream-action-time">
            {{ action.timestamp }}
          </div>
        {% endif %}
      {% endfor %}
   </div>
</div>

{% endblock content %}
