{% extends "mysite/base.html" %}

{% block content %}

{% load activity_tags %}
{% load profile_extras %}

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
     <h2>Activity You Follow</h2>
     {% load activity_tags %}
     {% load profile_extras %}
     {% activity_stream 'user' user  %}
     {% for action in stream|slice:":1000" %}
       {% filtered_feed action as filtered_action %}
       {% if filtered_action %}
          {% include 'profiles/activity_include.html' %}
       {% endif %}
     {% empty %}
       Nothing yet - <a href="{% url 'community' %}">Find some people and slates to follow!</a>
     {% endfor %}
   </div>
</div>

{% endblock content %}
