
{% for info in object_list %}
    <a href="{{ info.profile.get_absolute_url }}" class="extra-padding-right">
      {{ info.profile.get_name }}</a>
    {% if info.mutual %}
        <span class="label label-success">Mutual follow</span>
    {% else %}
        {% if info.follows_you %}
            <span class="label label-info">Follows you</span>
        {% elif info.you_follow %}
            <span class="label label-warning">You follow</span>
        {% endif %}
    {% endif %}
    {% if info.muted %} <span class="label label-info">Muted</span> {% endif %}

    <br />

{% empty %}

    <a href="{% url 'follow-users-and-slates' %}">Find some people to follow!</a>

{% endfor %}
