{% load profile_extras %}
{% is_own_profile request.user object as own %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#friends">
        {% if own %}
          Your Friends
        {% else %}
          {{ object }}'s Friends
        {% endif %}
      </a>
    </h3>
  </div>
  <div id="friends" class="panel-collapse collapse in">
   <div class="panel-body">
     {% if search %}
       <p class="search-all"><a href={% url 'profiles' %}>Search All Users</a></p>
     {% endif %}
     {% include 'profiles/friends_include.html' with object_list=friends %}
   </div>
 </div>
</div>
