{% extends 'mysite/base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
   <div class="col-sm-4 col-sm-offset-1">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <div class="col-md-10 col-md-offset-2">
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary action-submit-button" icon="star" %}
          </div>
        {% endbuttons %}
      </form>
    </div>
</div>

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
     <br />
     Forgot your password?  <a href="{% url 'password_reset' %}">Request a reset.</a>
     <p>Don't have an account on ActionRising?  <a href="{% url 'request-account' %}">Request one</a>.</p>
   </div>
</div>

{% endblock %}
