{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block page_specific_javascript %}
$("#id_profiles, #id_slates").chosen()
{% endblock page_specific_javascript %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h4>Manage Action <a href="{{ action.get_absolute_url }}">{{ action.title }}</a></h4>
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <div class="col-md-10 col-md-offset-2">
          {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
        </div>
      {% endbuttons %}
    </form>


  </div>
</div>

{% endblock content %}
