{% extends "mysite/base.html" %}

{% block title %} {{ object.username }} | ActionRising{% endblock %}

{% block content %}

  {% if visible_to_user %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 id="profile-username">
          {% if object.profile.get_full_name %}
            {{ object.profile.get_full_name }} ({{ object.username }})
          {% else %}
            {{ object.username }}
          {% endif %}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profile-action-items">
        {% if request.user.is_authenticated %}
          {% include "profiles/profile_action_items/edit.html" %}
          {% ifnotequal object.username request.user.username %}
            {% include "profiles/profile_action_items/follow.html" %}
            {% include "profiles/profile_action_items/notify.html" %}
            {% include "profiles/profile_action_items/mute.html" %}
          {% endifnotequal %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="profile-personal">
          <div class="profile-info well">
            <div>
              <span class="fa fa-eye"></span><span>{{ object.profile.get_current_privacy_display }}</span>
            </div>
            <div>
              {% load plugin_templatetags %}
              {% get_plugin_templates "profile_instance" %}
            </div>
          </div>
          {% if object.profile.description %}
            <div class="well profile-description">
              <h4>{{ object.profile.description|safe }}</h4>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if total_actions %}
      <div class="row">
        <div class="col-sm-12">
          {% include "profiles/gamify_include.html" %}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1" id="created-actions-div">
        {% ifequal request.user object %}
          {% include 'profiles/dash_panels/actions_you_tracked.html' %}
          {% include 'profiles/dash_panels/content_you_created.html' %}
        {% else %}
          {% include 'profiles/dash_panels/your_connections.html' %}
        {% endifequal %}
      </div>
      <div class="col-sm-5">
        {% include 'profiles/dash_panels/activity_log.html' %}
      </div>
    </div>

  {% else %}
  <!-- Profile you're not allowed to view details of -->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 id="profile-username">
          {{ object.username }}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profile-action-items">
        {% if request.user.is_authenticated %}
          {% include "profiles/profile_action_items/follow.html" %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="profile-personal">
          <div class="profile-info well">
            <div>
              <span class="fa fa-eye"></span><span>{{ object.profile.get_current_privacy_display }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}

  {% else %}
  <!-- Profile you're not allowed to view -->

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 id="profile-username">
          {{ object.username }}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div>
          {% if object.profile.current_privacy %}
            <i id="privacy-info" class="fa fa-eye" aria-hidden="true"> {{ object.profile.get_current_privacy_display }} </i>
            <br/>
          {% endif %}
        </div>
       </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profile-action-items">
        {% if request.user.is_authenticated %}
          {% include "profiles/profile_action_items/edit.html" %}
          {% ifnotequal object.username request.user.username %}
            {% include "profiles/profile_action_items/follow.html" %}
            {% include "profiles/profile_action_items/notify.html" %}
            {% include "profiles/profile_action_items/mute.html" %}
          {% endifnotequal %}
        {% endif %}
      </div>
    </div>

  {% endif %}

{% endblock content %}
