{% load profile_extras %}
{% is_own_profile request.user object as own %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#actionhistory">
        {% if own %}
          Your Activity
        {% else %}
          {{ object.username }}'s Activity
        {% endif %}
      </span>
      {% if own %}
        <a href="{% url 'activity' %}" title="Open in new page" class="float-right">
          <span class="material-icons">open_in_new</span>
        </a>
      {% endif %}
    </h3>
  </div>
  <div id="actionhistory" class="panel-collapse collapse in">
   <div class="panel-body activity">
     {% load activity_tags %}
     {% load profile_extras %}
     {% activity_stream 'actor' user  %}
     {% for action in stream|slice:":15" %}
       {% filtered_feed action own=True as filtered_action %}
       {% if filtered_action %}
          {% include 'profiles/activity_include.html' %}
        {% endif %}
      {% empty %}
        {% if own %}
          You haven't done anything yet.
        {% else %}
          {{ object.username }} hasn't done anything yet.
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
