{% extends "mysite/base.html" %}

{% block title %} {{ object.username }} | ActionRising{% endblock %}

{% block content %}

  {% if visible_to_user %}
    <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
         <h2 id="profile-username">
           {% if object.profile.get_full_name %}
              {{ object.profile.get_full_name }} ({{ object.username }})
           {% else %}
              {{ object.username }}
           {% endif %}
         </h2>
       </div>
    </div>

    <div class="row">
       <div class="col-sm-10 col-sm-offset-1 profile-action-items">
          {% if request.user.is_authenticated %}
              {% include "profiles/profile_action_items/edit.html" %}
              {% ifnotequal object.username request.user.username %}
                  {% include "profiles/profile_action_items/follow.html" %}
                  {% include "profiles/profile_action_items/notify.html" %}
                  {% include "profiles/profile_action_items/mute.html" %}
              {% endifnotequal %}
          {% endif %}
       </div>
    </div>

    <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
         {% if object.profile.description %}
          <h4>{{ object.profile.description|safe }}</h4>
         {% endif %}
       </div>
    </div>

    <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
          {% include "mysite/basic_info_include.html" with object=object.profile %}

          {% load plugin_templatetags %}
          {% get_plugin_templates "profile_instance" %}
       </div>
    </div>

   {% if total_actions %}
   <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        {% include "profiles/gamify_include.html" %}
      </div>
    </div>
   {% endif %}

  <div class="row">
     <div class="col-sm-5 col-sm-offset-1" id="created-actions-div">
       <h3>Recent actions created</h3>
       {% include "actions/action_list_limited_include.html" with object_list=created_actions %}
     </div>
     <div class="col-sm-5" id="tracked-actions-div">
       <h3>Recent actions tracked</h3>
       {% include "actions/action_list_limited_include.html" with object_list=tracked_actions %}
     </div>
   </div>

  {% else %}
  <!-- Profile you're not allowed to view -->

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 id="profile-username">
          {{ object.username }}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div>
          {% if object.profile.current_privacy %}
            <i id="privacy-info" class="fa fa-eye" aria-hidden="true"> {{ object.profile.get_current_privacy_display }} </i>
            <br/>
          {% endif %}
        </div>
       </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 profile-action-items">
        {% if request.user.is_authenticated %}
          {% include "profiles/profile_action_items/follow.html" %}
          {% include "profiles/profile_action_items/notify.html" %}
          {% include "profiles/profile_action_items/mute.html" %}
        {% endif %}
      </div>
    </div>

  {% endif %}

{% endblock content %}
