{% extends "mysite/base.html" %}

{% block content %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>{{ object.username }}
         {% ifequal object.username request.user.username %}
             <a href="{{ object.profile.get_edit_url }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
         {% else %}
             {% include "profiles/rel_management_include.html" with object=object %}
         {% endifequal %}
       </h2>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
        {% include "mysite/basic_info_include.html" with object=object.profile %}
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
        <h4>{{ object.profile.text|safe }}</h4>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       {% for link in object.profile.get_links %}
             {{ link }}  <!-- template tag that gets correct fontawesome icon for link -->
       {% endfor %}
     </div>
   </div>

  <div class="row">
     <div class="col-sm-5 col-sm-offset-1">
			 <h3>Actions {{ object.profile.get_name }} created</h3>
			 		{% include "actions/action_list_limited_include.html" with object_list=object.action_set.all %}
     </div>
     <div class="col-sm-5 col-sm-offset-1">
			 <h3>Actions {{ object.profile.get_name }} tracked</h3>
			 		{% include "actions/action_list_limited_include.html" with object_list=object.profile.actions.all %}
     </div>
   </div>

{% endblock content %}
