<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#to-do">
        Your To Do List
      </span>
      <a href="{% url 'to_do' %}" title="Open in new page" class="float-right">
        <span class="material-icons">open_in_new</span>
      </a>
    </h3>
  </div>

  <div id="to-do" class="panel-collapse collapse in">
   <div class="panel-body to-do">
     {% for par in open_actions %}
       <a href="{{ par.action.get_absolute_url}}">{{ par.action.title }}</a> <br />
     {% empty %}
       Your to do list is empty. <a href="{% url 'actions' %}">Find some actions!</a>
     {% endfor %}
   </div>
 </div>

</div>
