{% load i18n %}
{% load profile_extras %}
{% get_action_status trackers.public_list as action_status %}
{% for status, par_list in action_status.items %}
    {% if par_list|length > 0 %}
        <h5>{% trans status %} ({{par_list|length}})</h5>
        <ul>
            {% for par in par_list %}
                <li><a class="tracker-link" href="{{ par.profile.get_absolute_url }}">{{ par.profile.get_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{% if trackers.anonymous_count %}
    {% if trackers.public_list %}
        and
    {% endif %}
    {{ trackers.anonymous_count }} anonymous user{% ifnotequal trackers.anonymous_count 1 %}s{% endifnotequal %}
{% endif %}
