{% extends "mysite/base.html" %}

{% load static %}

{% block title %} Users and Slates | ActionRising{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      Search

      <h4>Your Community</h4>

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              <span data-toggle="collapse" class="collapsed" href="#people">
                People
              </span>
            </h3>
          </div>

          <div id="people" class="panel-collapse collapse">
           <div class="panel-body">
             {% load activity_tags %}
             {% load profile_extras %}
             {% activity_stream 'user' user  %}
             {% for action in stream|slice:":15" %}
               {% filtered_feed action as filtered_action %}
               {% if filtered_action %}
                  {% include 'profiles/feed_include.html' %}
               {% endif %}
             {% empty %}
               <a href="{% url 'follow-users-and-slates' %}">Follow users and slates</a>
               and their activity will appear here.
             {% endfor %}
           </div>
         </div>

        </div>

        Slates
    </div>

    <div class="col-sm-6">
      ActionRising Community Activity
    </div>
  </div>

{% endblock content %}
