{% extends "mysite/base.html" %}

{% load static %}

{% block title %} Users and Slates | ActionRising{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">

      <h4>Your Community</h4>

      {% if created_slates %}
        {% include 'profiles/dash_panels/slates_you_edit.html' %}
      {% endif %}

      {% include 'profiles/dash_panels/slates_you_follow.html' with search=True %}

      {% include 'profiles/dash_panels/your_connections.html' with search=True object=request.user %}

    </div>

    <div class="col-sm-6">
      <h4> ActionRising Activity </h4>
      <div class="well activity">
        {% load activity_tags %}
        {% load profile_extras %}

        {% activity_stream 'others' user  %}
        {% for action in stream|slice:":1000" %}
          {% include 'profiles/feed_include.html' with user=user  %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
