{% extends "mysite/base.html" %}

{% load static %}

{% block title %} Users and Slates | ActionRising{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">

      <!-- TODO  Search users and slates -->

      <h4>Your Community</h4>

      {% include 'profiles/dash_panels/your_connections.html' %}

      {% include 'profiles/dash_panels/slates_you_follow.html' %}

      {% include 'profiles/dash_panels/slates_you_edit.html' %}

    </div>

    <div class="col-sm-6">
      <h4> ActionRising Activity </h4>
      <div class="well">
        {% load activity_tags %}
        {% load profile_extras %}

        {% activity_stream 'model' user  %}
        {% for action in stream|slice:":1000" %}
          {% others_filtered_feed action as filtered_action %}
          {% if filtered_action %}
            {% include 'profiles/feed_include.html' with user=user  %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
