<table class="table table-striped table-hover main-list" id="slates">
  <thead>
    <tr>
      <th>Name</th>
      <th># of Actions</th>
      <th>People Tracking</th>
    </tr>
  </thead>
  <tbody>
      {% for object in object_list %}
       <tr>
          <td class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
          <td class="size">{{ object.actions.count }}</td>
          <td class="trackers">{{ object.profile_set.count }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>
