{% load profile_extras %}
{% is_own_profile request.user object as own %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#actionhistory">
        {% if own %}
          Your Activity Log
        {% else %}
          {{ object.username }}'s Activity Log
        {% endif %}
      </span>
      <a href="{% url 'activity' %}" title="Open in new page" class="float-right">
        <span class="material-icons">open_in_new</span>
      </a>
    </h3>
  </div>
  <div id="actionhistory" class="panel-collapse collapse in">
    <div class="panel-body">
      {% load activity_tags %}
      {% load profile_extras %}
      {% activity_stream 'actor' user  %}
      {% for action in stream|slice:":15" %}
        {% filtered_feed action as filtered_action %}
        {% if filtered_action %}
          {% include 'profiles/feed_include.html' %}
        {% endif %}
      {% empty %}
        {% if own %}
          You haven't done anything yet.
        {% else %}
          {{ object.username }} hasn't done anything yet.
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
