<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#content">Content Created</span>
    </h3>
  </div>
  <div id="content" class="panel-collapse collapse in">
    <div class="panel-body">
      <h4>Actions</h4>
      {% for action in created_actions %}
        <a href="{{ action.get_absolute_url }}">{{ action }}</a><br />
      {% empty %}
        <!-- #TODO -->
        You haven't created any actions. <a href="{% url 'create_action' %}">Make one</a>.
      {% endfor %}

      <h4>Slates</h4>
      {% for slate in created_slates %}
        <a href="{{ slate.get_absolute_url }}">{{ slate }}</a><br />
      {% empty %}
        You haven't created any slates.  <a href="{% url 'create_slate' %}">Make one</a>.
      {% endfor %}
    </div>
  </div>
</div>
