<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
        Your To Do List
      <a href="{% url 'to_do' %}" title="Open in new page" class="extra-padding-left">↱</a>
    </h3>
  </div>
  <div id="openactions">
   <div class="panel-body">
     {% for par in open_actions %}
         <a href="{{ par.action.get_absolute_url}}">{{ par.action.title }}</a> <br />
     {% empty %}
         Your to do list is empty. <a href="{% url 'actions' %}">Find some actions!</a>
     {% endfor %}
   </div>
 </div>
</div>
