<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="collapsed" data-toggle="collapse" href="#slates">Slates You Follow</a>
    </h3>
  </div>
  <div id="slates" class="panel-collapse collapse">
   <div class="panel-body">
     {% for sar in followed_slates %}
       <a href="{{ sar.slate.get_absolute_url}}">{{ sar.slate.title }}</a> <br />

     {% empty %}
       Slates are lists that contributors can add actions to over time, keeping you up to date on your area of interest.
       <a href="{% url 'follow-users-and-slates' %}">Find slates to follow!</a>
     {% endfor %}
   </div>
 </div>
</div>
