<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#slates">Slates You Follow</a>
    </h3>
  </div>
  <div id="slates" class="panel-collapse collapse in">
   <div class="panel-body">
     {% if search %}
       <p class="search-all"><a href={% url 'slates' %}>Search All Slates</a></p>
     {% endif %}
     {% for sar in followed_slates %}
       <a href="{{ sar.slate.get_absolute_url}}">{{ sar.slate.title }}</a> <br />

     {% empty %}
       <p>Slates are lists that contributors can add actions to over time, keeping you up to date on your area of interest.</p>
       <a href="{% url 'follow-users-and-slates' %}">Find slates to follow!</a>
     {% endfor %}
   </div>
 </div>
</div>
