<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#slates-edit">Slates You Contribute To</a>
      <a data-toggle="collapse" href="#slates-edit" title="Collapse">
          <div class="float-right">▼</div>
      </a>
    </h3>
  </div>
  <div id="slates-edit" class="panel-collapse collapse">
   <div class="panel-body">
     {% for slate in created_slates %}
       <a href="{{ slate.get_absolute_url }}">{{ slate }}</a><br />
     {% empty %}
       You don't contribute to any slates yet.
       <a href="{% url 'create-slate' %}"> Create a slate</a>.
     {% endfor %}
   </div>
 </div>
</div>
