<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#feed">
        Activity You Follow
      </span>
      <a href="{% url 'feed' %}" title="Open in new page" class="float-right">
        <span class="material-icons">open_in_new</span>
      </a>
    </h3>
  </div>

  <div id="feed" class="panel-collapse collapse in">
   <div class="panel-body">
     {% load activity_tags %}
     {% load profile_extras %}
     {% activity_stream 'user' user  %}
     {% for action in stream|slice:":15" %}
       {% filtered_feed action as filtered_action %}
       {% if filtered_action %}
          {% include 'profiles/feed_include.html' %}
       {% endif %}
     {% empty %}
       <a href="{% url 'follow-users-and-slates' %}">Follow users and slates</a>
       and their activity will appear here.
     {% endfor %}
   </div>
 </div>

</div>
