{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1" id="form-explanation">
    <h2>You've got an account!</h2>
    <p>You now have an account on ActionRising.  Go ahead and <a href="{% url 'login' %}">log in</a>.</p>

    <p>Please note that you will not be able to comment, and will be limited to 10 actions
      and 5 slates, until you're verified.  Verification typically takes about a week.  Please
      contact us if you need to be verified more quickly than that.</p>

    <p>Welcome to ActionRising!</p>

  </div>
</div>


{% endblock content %}
