{% extends "mysite/base.html" %}

{% load groups_extras %}

{% block content %}

    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
         <h2>Admin view for <a href="{{ object.get_absolute_url }}">{{ object.groupname }}</a></h2>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-1" id="members">
            <h4>Members</h4>

            {% for user in object.get_members %}

                <div class="row">
                    <div class="col-sm-4">
                        {% include "groups/member_display_include.html" %}
                    </div>
                    <div class="col-sm-8">
                        {% include "groups/group_actions/alter_membership.html" %}
                    </div>
                </div>

            {% endfor %}

        </div>

        <div class="col-sm-4" id="requests">
            <h4>Requests</h4>

            {% for requester in requests %}

                {% include "groups/group_actions/handle_request.html" %}

            {% empty %}

                There are no outstanding requests.

            {% endfor %}

            <h4>Invites</h4>

            Invited users:

            {% for invitee in invites %}

                <a href="{{ invitee.user.profile.get_absolute_url }}">{{ invitee.user }}</a>

            {% empty %}

                there are no outstanding invites.

            {% endfor %}

            <br /><br />

            {% include "groups/group_actions/invite_users.html" %}


        </div>
    </div>

    {% include "groups/admin_ajax_include.html" %}

{% endblock content %}