{% extends "mysite/base.html" %}

{% load groups_extras %}

{% block content %}

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <h2>Admin view for <a href="{{ object.get_absolute_url }}">{{ object.groupname }}</a></h2>
    </div>
  </div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1" id="members">
            {% for user in object.get_members %}

                {% profile_is_admin user as admin %}

                <a href="{{ user.profile.get_absolute_url }}">{{ user.profile.get_full_name }}</a>

                {% if admin %}
                    <span class="label label-info">Admin</span>
                {% endif %}

            {% endfor %}

        </div>
    </div>

{% endblock content %}