{% extends "mysite/base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h2 id="group_name">{{ object.groupname }}</h2>

        {% include "mysite/basic_info_include.html" %}

        {% if is_member %}
            <div id="owner_info">
                run by <a href="{{ object.owner.profile.get_absolute_url }} ">
                    {{ object.owner.profile.get_name }}</a>
            </div>
        {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1" id="group_membership_info">
        {% include "groups/group_membership_include.html" %}
    </div>
  </div>


  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      {% include "tags/label_include.html" with object_list=object.tags.all %}
    </div>
  </div>


  <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
          <div class="well" id="summary">
              {{ object.summary|safe }}
          </div>
      </div>
  </div>

  {% if can_access %}
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1" id="description">
              {{ object.description|safe }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1" id="members">
            {% for user in object.get_members %}

                {% include "groups/member_display_include.html" %}

            {% endfor %}

        </div>
    </div>

  {% endif %}

{% endblock content %}
