{% extends "mysite/base.html" %}

{% load groups_extras %}

{% block content %}

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h2>{{ object.groupname }}</h2>

        {% include "mysite/basic_info_include.html" %}

        {% if is_member %}
            run by <a href="{{ object.owner.profile.get_absolute_url }} ">
                {{ object.owner.profile.get_name }}</a>
        {% endif %}

        {% if is_admin %}
            <a href="{{ object.get_admin_url }}" title="Admin">
                <i class="fa fa-pencil-square-o" aria-hidden="true">Admin</i>
            </a>
        {% endif %}

        {% if is_owner %}
            <a href="{{ object.get_edit_url }}" title="Edit">
                <i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i>
            </a>
        {% endif %}

    </div>
  </div>

    <div class="row">
       <div class="col-sm-11 col-sm-offset-1">
          {% include "tags/label_include.html" with object_list=object.tags.all %}
       </div>
    </div>


  <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
          <div class="well" id="summary">
              {{ object.summary|safe }}
          </div>
      </div>
  </div>

  {% if can_access %}
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1" id="description">
              {{ object.description|safe }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-11 col-sm-offset-1" id="members">
            {% for user in object.get_members %}

                {% profile_is_admin user as admin %}

                <a href="{{ user.profile.get_absolute_url }}">{{ user.profile.get_full_name }}</a>

                {% if admin %}
                    <span class="label label-info">Admin</span>
                {% endif %}

            {% endfor %}

        </div>
    </div>

  {% endif %}







{% endblock content %}