{% extends "mysite/base.html" %}

{% load groups_extras %}

{% block content %}

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

    {% for object in object_list %}

        {% can_access object as accessible %}
        {% is_member object as member %}

        {% if accessible %}
            <a href="{{ object.get_absolute_url }}">{{ object.groupname }}</a>
        {% else %}
            {{ object.groupname }}
        {% endif %}

        : {{ object.summary }}

        {% if member %}
            <span class="label label-info">Member</span>
        {% endif %}

        <br /><br />
    {% endfor %}

    </div>
  </div>


{% endblock content %}