{% if request.user.is_authenticated %}
  {% ifnotequal object.creator.username request.user.username %}
      {% if object in request.user.profile.slates.all %}

          <div class="action-item">
              <a href="{% url 'toggle_slate_for_profile' object.slug 'remove' %}">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Unfollow slate</a>
          </div>


      {% else %}

          <div class="action-item">
              <a href="{% url 'toggle_slate_for_profile' object.slug 'add' %}">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Follow slate</a>
          </div>

      {% endif %}
  {% endifnotequal %}
{% endif %}
