<h3>Linked Accounts</h3>

{% if not can_disconnect %}
  <p id="disconnect-warning">Want to disconnect from all accounts? <a href="{% url 'password_set' %}">
     Set your password</a> first.</p>
{% endif %}

<ul class="linked-accounts-ul">

<li><span class="account-type">Twitter</span>

  {% if twitter_login %}
    <p>Connected as <a class="text-info" target="_blank" id="connected-twitter"
      href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/">
      @{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'twitter' %}?next=/accounts/settings">
        {% csrf_token %}
        <button type="submit" id="disconnect-from-twitter">Disconnect from Twitter</button>
      </form>
    {% endif %}
  {% else %}
    <br />
    <a class="btn btn-info" href="{% url 'social:begin' 'twitter' %}?next=/accounts/settings"
      id="connect-to-twitter">
      Connect to Twitter</a>
  {% endif %}

</li>

<li><span class="account-type">Facebook</span>

  {% if facebook_login %}
    <p>Connected as <a class="text-info" target="_blank" id="connected-facebook"
      href="https://facebook.com/{{ facebook_login.extra_data.id }}/">
      {{ facebook_login.user }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}?next=/accounts/settings">
        {% csrf_token %}
        <button type="submit" id="disconnect-from-facebook">Disconnect from Facebook</button>
      </form>
    {% endif %}
  {% else %}
    <br />
    <a class="btn btn-info" href="{% url 'social:begin' 'facebook' %}?next=/accounts/settings"
      id="connect-to-facebook">
      Connect to Facebook</a>
  {% endif %}

</li>

<li><span class="account-type">Google</span>
  {% if google_login %}
     <p>Connected</p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}?next=/accounts/settings">
        {% csrf_token %}
        <button type="submit" id="disconnect-from-google">Disconnect from Google</button>
      </form>
    {% endif %}
  {% else %}
    <br />
    <a class="btn btn-info" href="{% url 'social:begin' 'google-oauth2' %}?next=/accounts/settings"
      id="connect-to-google">
      Connect to Google</a>
  {% endif %}

</li>

</ul>
