{% extends 'mysite/base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
   <div class="col-sm-6 col-sm-offset-1">
      <h2>Login</h2>
      <a href="{% url 'social:begin' 'facebook' %}?next={{request.GET.next}}"
          id="login_with_fb" class="btn btn-info">Login with Facebook</a>
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.GET.next}}"
          id="login_with_google" class="btn btn-info">Login with Google</a>
      <a href="{% url 'social:begin' 'twitter' %}?next={{request.GET.next}}"
          id="login_with_twitter" class="btn btn-info">Login with Twitter</a>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-4 col-sm-offset-1">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <div class="col-md-10 col-md-offset-2">
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary action-submit-button" icon="star" %}
          </div>
        {% endbuttons %}
      </form>
    </div>
</div>

<div class="row">
   <div class="col-sm-10 col-sm-offset-1">
     <br />
     Forgot your password?  <a href="{% url 'password_reset' %}">Request a reset.</a>
     <p>Don't have an account on {{ SITE_NAME }}?  <a href="{% url 'sign-up' %}">Join us!</a></p>
   </div>
</div>

{% endblock %}
