{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <h2>Join us!</h2>
    <a href="{% url 'social:begin' 'facebook' %}?next=/" class="btn btn-info">Sign up with Facebook</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-info">Sign up with Google</a>
    <h4>or, make an account with us directly:</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 col-sm-offset-1">
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <div class="col-md-10 col-md-offset-1">
          {% bootstrap_button "Cancel" button_type="link" button_class="btn-default" %}
          {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
        </div>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock content %}
