{% extends "mysite/base.html" %}

{% block title %}About {{ SITE_NAME }}{% endblock %}

{% block content %}

<div class="row">
   <div class="col-sm-10 col-sm-offset-1" id="about">
     <h2>About {{ SITE_NAME }}</h2>

     <h3>Our Mission</h3>

     <p>{{ SITE_NAME }} was created to help people keep track of and promote political actions.
       With so much going on, we need efficient ways to find out about new actions and to stay
       updated on the actions we've committed to.</p>

     <p>We work with existing and new organizations to figure out how we can help them achieve
       their goals, and with individuals to understand what they need to take action.</p>

     <h3>The Basics</h3>

     <p>At the heart of this site are actions.  Anyone can create an action, and by default
       an action is very simple: just a title and a description.  You can enhance your
       action by providing more details like a deadline, a location, tags and more.  When
       you're looking for actions, you can use this additional info to narrow down your options.</p>
     <p>There are many great individuals and organizations out there doing the hard work
       of creating and vetting actions.  On {{ SITE_NAME }}, you can follow a user and receive
       updates whenever they add a new action.  Users can also create slates, which are curated
       lists of specific actions.  You can follow a slate and get updates whenever a new
       action is added to it. (Tip: slates are also great for pulling together a list
       of actions to work on at an event.)</p>
     <p>When you find an action you want to take, click the 'take action' button on the action's
       page.  The action will now show up on your list of open actions on your dashboard.
       You can do a number of things at this point: at the action to a slate, suggest it to a friend,
       make a note to yourself, and more.  And, of course, you can mark it as done.  Once you
       do this, it will no longer be seen on your list of open actions.</p>

     <h3>Design Principles</h3>

     <p>We're a very new platform, so we're still figuring out what features will help
       us all reach our goals.  Here are a few of the design principles that guide us
       along the way:</p>

      <h4 class="text-warning">One Action, One Source</h4>
      <p>Many social media sites let you edit a post but won't show your changes in shares
        and reblogs.  This is a problem for actions, which often need updates and corrections,
        or even to be withdrawn.  On {{ SITE_NAME }}, changes to an action show up for everyone,
        not just people viewing the original post.  Link to an {{ SITE_NAME }} action on Twitter,
        Facebook, etc and people will always find the most updated version when they click through.
      </p>

      <h4 class="text-warning">Enhancing Relationships</h4>
      <p>Technology works best when it enhances social interaction, rather than replacing it.
       For instance, when you "commit" to an action, you can select one or more friends to
       notify of your commitment.  They'll get periodic reminders while the action stays open,
       asking them to poke you and see how you're progressing.  This feature requires both social
       relationships and technology to work.  Founded by a former psychologist, {{ SITE_NAME }} has
       great respect for the power of human relationships.</p>

      <h4 class="text-warning">Keep It Open(ish)</h4>
      <p>We believe in transparency and open communities, but recognize that there are downsides
        to openness. We're committed to cultivating a harassment-free community, including
        limiting certain features to users who have a history of appropriate behavior on the site.</p>

     <h3 id="gethelp">Get Help</h3>

     <p>Confused about how the site works?  Have a feature you want to request or a bug you want
       to report?  Reach out to us at {{ OBFUSCATED_EMAIL_ADDRESS }}.  We'll get back to you asap.</p>

     <h3 id="getinvolved">Get Involved</h3>

     <p>There are a few different ways to get involved.  We're actively looking for existing
       organizations or groups that have actions they could share on the platform.  If that
       describes you, we'd love to talk with you one-on-one and find out what kind of features
       would best meet your needs.  Anyone who wants to can also join the <a href="https://www.actionrising.com/actions/action/join-the-actionrisingcom-user-feedback-group">
       {{ SITE_NAME }} User Feedback Group.</a></p>

     <p>We're also looking for folks to contribute to developing the site itself.  We're especially
       looking for design, documentation, and publicity help, and for developers who specialize
       in working with Javascript and with mobile technologies, but many kinds of help are useful,
       so please reach out even if you've got a different skillset.  Enthusiasm and ability to
       commit are more important to us than experience, so: newcomers welcome!</p>

{% endblock content %}
