{% extends "mysite/base.html" %}

{% block title %}About ActionRising{% endblock %}

{% block content %}

<div class="row">
   <div class="col-sm-10 col-sm-offset-1" id="about">
     <h2>About ActionRising</h2>

     <p>ActionRising is a platform created to help individuals and communities figure
       out their next steps. We want you to take action - specific, meaningful, positive
       action - that fits the time and energy you have available.</p>

     <p>The site is in its early stages.  (It's only been in development for {{ time_elapsed }} days!)
       Know someone who'd like to join?  They can request an account
       <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvjpdigDpDfxfp7uMEFIb4LxMgVKezhF_XoiPJos-Ieph7uw/viewform">here</a>.</p>

     <h2>FAQ</h2>

     <p>Do you have a question not answered by the faq?  Email actionrisingsite@gmail.com.
       We'll answer it, and probably add it to this FAQ.</p>

     <h3 class="text-info">So how do I use this thing?</h3>

     <p>Let's start with the basics.  The heart of this site are the <a href="{% url 'actions' %}">
       actions</a>.  You can search for posted actions by date created, by tags, by popularity, or in
       a number of other ways.  When you see an action you want to attempt, you can add it to your actions
       by clicking the "Take Action" button.  Once you've done that, you can also suggest the action to
       friends or add it to one of your slates.</p>

     <p>A friend is someone you follow who also follows you.  (You can't suggest actions to people who don't
       follow you.)  You can find friends by searching our <a href="{% url 'profiles' %}">profiles</a> page.
       A slate is a collection of actions, typically selected to suit a particular theme, event, or political outcome.
       You can find those by searching the <a href="{% url 'slates' %}">slates</a> page.</p>

     <p>You can view all of your open actions via your <a href="{% url 'to_do' user.username %}">to do list</a>.

     <p>That's all you really need to know.  If you're interested, you can also override an action's default
       priority, privacy or status, or you can add notes to it.  These changes don't show up for everyone,
       just you.  You can set these things differently for each action added to a slate, and for the actions
       on your to do list.</p>

     <h3 class="text-info">What if there's a problem with an action?</h3>

     <p>If it's a minor problem, you can leave a comment on the action and ask the creator to fix it.  If there's
       no response, or the action has a bigger problem like spreading inaccuracies or using offensive language,
       you can flag the action and we'll get to it as quickly as possible.</p>

     <p>The creator of an action can always withdraw the action, if updating the content is not enough to
       fix the problem.  If someone reports a problem with your action, moderators may withdraw the
       action as well.</p>

     <p>Withdrawn actions are not searchable on the site, but still exist in the database.  In extreme cases,
       such as doxxing, the action may be completely deleted.</p>

     <h3 class="text-info">How does privacy work here?</h3>

     <p>Good question!  Your privacy is very important to us, but it's also something that
       takes time and resources to get right.  Currently we <span class="text-danger"><b><u>cannot guarantee you</u></b></span>
       any kind of privacy.  All we can do is tell you how things are supposed to work and promise
       a prompt response to any requests to delete data or ban bad actors.</p>

     <p>There are three possible privacy settings: public, sitewide, and follows only. The first
       is visible to anyone on the internet, the second to anyone with an account on the site,
       and the third only to people you follow. You can pick one of these settings as your
       <a href='{{ user.profile.get_edit_url }}'>global default</a>. Your profile page and any
       actions or slates you create will have this default privacy setting unless you
       specifically override it.  Because this is a site for sharing information,
       we recommend you set your default to 'public', but it's up to you.</p>

     <p>Some notes about how we implement privacy, for those who want the nitty gritty details:
       <ul>
         <li>If you change your default privacy setting, this will change the settings
          of all past actions, slates, etc that were not overridden.</li>
         <li>When multiple privacy settings are in play, we err on the side of privacy.
          So, for instance, if we're trying to decide whether to display the fact that
          person A is taking action B, we check both the privacy settings of person A
          and action B.  Unless the viewer has access to both person A and action B, they
          will not see anything displayed.</i>
          <li>You can also choose to make an action "anonymous".  This prevents the action
          from naming you as the creator or linking back to your profile, but it is not
          'truly' anonymous.  You'll still be able to edit your anonymous action and see
          it in your lists of created actions.</li>
       </ul>
     </p>

     <p>Philosophically, our goal is to give you the greatest control over your privacy possible.  Please
       let us know if there are ways we can improve.</p>

     <h3 class="text-info">How do I verify my account?</h3>

     <p>If you'd like to verify your account, please email actionrisingsite@gmail.com.  Eventually
       we'll have a system for doing automatic verification with <a href="https://keybase.io/">Keybase</a>.</p>

     <h3 class="text-info">Can I contribute to the site?</h3>

     <p>Yes!  Email actionrisingsite@gmail.com if you'd like to contribute.</p>

{% endblock content %}
