<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}ActionRising{% endblock %}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    {% block page_specific_meta %}
    {% endblock page_specific_meta %}

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css">

    {% include "mysite/css_include.html" %}

    {% block page_specific_css %}
    {% endblock page_specific_css%}

</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <a href="{% url 'index' %}" class="navbar-brand">ActionRising</a>
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
       <div class="navbar-collapse collapse" id="navbar-main">
         <ul class="nav navbar-nav">
           {% if request.user.is_authenticated %}
               <li><a href="{% url 'about' %}">About</a></li>
               <li><a href="{{ request.user.profile.get_absolute_url }}">Your Profile</a></li>
               <li><a href="{% url 'to_do' request.user.pk %}">Your ToDos</a></li>
               <li><a href="{% url 'feed' request.user.pk %}">Your Feed</a></li>
               <li><a href="{% url 'logout' %}" class="log_button">Log Out</a></li>
           {% else %}
               <li><a href="{% url 'login' %}" class="log_button">Log In</a></li>
           {% endif %}
         </ul>
         <ul class="nav navbar-nav navbar-right">
           {% if request.user.is_authenticated %}
               <li><a href="{% url 'actions' %}">Actions</a></li>
               <li><a href="{% url 'create_action' %}">Create Action</a></li>
               <li><a href="{% url 'slates' %}">Slates</a></li>
               <li><a href="{% url 'create_slate' %}">Create Slate</a></li>
               <li><a href="{% url 'profiles' %}">Profiles</a></li>
           {% endif %}
         </ul>
       </div>
     </div>
   </div>


   <div class="container-fluid">
      {% block content %}
      {% endblock content %}
   </div>

</body>

<script>
{% block page_specific_javascript %}
{% endblock page_specific_javascript %}
</script>

</html>
