<span class="basic-info">
    {% if object.priority %}
        <i id="priority-info" class="fa fa-exclamation-circle" aria-hidden="true"> {{ object.get_priority_display }} priority</i>
    {% endif %}
    {% if object.location %}
        <i id="location-info" class="fa fa-globe" aria-hidden="true"> {{ object.get_location }}</i>
    {% endif %}
    {% if object.current_privacy %}
        <i id="privacy-info" class="fa fa-eye" aria-hidden="true"> {{ object.get_current_privacy_display }} </i>
    {% endif %}
    {% if object.get_status_display %}
        <i id="status-info" class="fa fa-space-shuttle" aria-hidden="true"> {{ object.get_status_display }} </i>
    {% endif %}
    {% if object.deadline %}
        <i id="deadline-info" class="fa fa-calendar" aria-hidden="true"> Deadline {{ object.deadline }} </i>
    {% endif%}
</span>
