<style>
    body { padding-top: 70px; }

    i { padding-right: 20px; }
    .btn-group > .btn + .dropdown-toggle { padding-top:18px; }
    .caret { padding-bottom: 7.5px;}
    .tracker-link { padding-right: 5px; }
    select { color: #2b3e50; }

    span.label { margin: 5px 10px 5px 0px; display:inline-block; }
    table span.label a, span.label a { color: white; text-decoration: none !important; font-size: 115%; }
    button, input[type="submit"] { color: #2b3e50; }

    /*Datatables Styling*/
    table { font-size: 16px !important; }
    .dataTables_wrapper { margin-top: 20px; }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info { color: #ebebeb; }
    .even { background-color: #2b3e50 !important;}
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled { color: #b2b2b2 !important; }

</style>
