{% load static %}
{% load misc_extras %}
{% get_footer_quote as quote %}

<footer class="navbar ar-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 center-text">
        <span>
          ActionRising © 2017
        </span>
        <span>
          <a href="{% url 'about' %}">About</a>
        </span>
        <span>
          <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
        </span>
        <span>
          <a href="{% url 'about' %}#gethelp">Get Help</a>
        </span>
        <span>
          <a href="{% url 'about' %}#getinvolved">Get Involved</a>
        </span>
        <span>
          <a href="{% url 'blog_posts' %}">Blog</a>
        </span>
     </div>
   </div>
 </div>
</footer>
