{% extends "mysite/base.html" %}

{% block title %}ActionRising{% endblock %}

{% block content %}

<div class="row">
   <div class="col-sm-5 col-sm-offset-1">
     <h2>Help yourself and friends take action</h2>

     <p>ActionRising is a platform created to help individuals and communities
       figure out their next steps.  We want you to take action - specific, meaningful,
       positive action - that fits the time and energy you have available.</p>

     {% if user.is_authenticated %}

           <h4><a href="{% url 'actions' %}">Browse actions you can take</a></h4>
           <h4><a href="{% url 'to_do' user.username %}">Put together your personal ToDo list</a></h4>
           <h4><a href="{% url 'create_action' %}">Add new actions for you and others to do</a></h4>
           <h4><a href="{% url 'create_slate' %}">Make a "slate" of suggested actions</a></h4>
           <h4><a href="{% url 'profiles' %}">Find and follow friends to see what they're working on</a></h4>

           <p>This site has only been live since November 18th.  We need your help to
             make it better.  Please tell Shauna, in person or via email, about any
             problems you run into or features you'd like.</p>

     {% else %}

     <p><a href="{% url 'login' %}">Log in</a> to learn more.</p>

     <p>Not registered?  You can request an account <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvjpdigDpDfxfp7uMEFIb4LxMgVKezhF_XoiPJos-Ieph7uw/viewform">here</a>.</p>

     {% endif %}

   </div>

   <div class="col-sm-4 col-sm-offset-1">
    {% if user.is_authenticated %}
     <h2>Your Open Actions</h2>

        {% if user.profile.get_open_actions %}

            {% include "mysite/action_list_landing_include.html" with object_list=user.profile.get_open_actions %}

        {% endif %}

    {% endif %}

  </div>
</div>

{% endblock content %}
