{% extends "mysite/base.html" %}

{% block title %}ActionRising{% endblock %}

{% block content %}

{% load static %}

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div id="anonymous-landing-content">

        <div class="center-text">

            <img src="{% static 'images/logo_light.png' %}">

            <br />
            <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
            <a href="{% url 'sign-up' %}" class="btn btn-primary">Sign Up</a>
            <a href="{% url 'learn-more' %}" class="btn btn-primary">Learn More</a>

        </div>

        <h2>Help yourself and your friends take action</h2>

        <p>ActionRising is a platform created to help individuals and communities
          share calls to action.  We want you to take action - specific, meaningful,
          positive action - that fits the time and energy you have available.</p>

        <h4>Not sure about joining?  Check out our public <a href="{% url 'public-actions' %}">actions</a>
           and <a href="{% url 'public-slates' %}">slates</a>.</h3>

      </div>
     </div>
   </div>

{% endblock content %}
