{% extends 'mysite/base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
   <div class="col-sm-4 col-sm-offset-1">
      <h2>Reset Password</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <div class="col-md-10 col-md-offset-2">
            {% bootstrap_button "Reset password" button_type="submit" button_class="btn-primary action-submit-button" icon="star" %}
          </div>
        {% endbuttons %}
      </form>
    </div>
</div>

{% endblock %}
