{% extends "mysite/base.html" %}

{% block title %}ActionRising{% endblock %}

{% block content %}

<div class="row">
   <div class="col-sm-10 col-sm-offset-1 privacy">
     <h2>Privacy Policy</h2>

     <p class="text-warning">Last Updated 5/7/2017</p>

     <p>This policy details how data about you is used when you access ActionRising.
     If we update it, we will revise the date, place notices on the site if changes
     are material, and/or obtain your consent as required by law.</p>

     <h4>How Privacy Settings Work on ActionRising</h4>

     <p>There are three possible privacy settings: public, sitewide, and follows only. The first
       is visible to anyone on the internet, the second to anyone with an account on the site,
       and the third only to people you follow. You can pick one of these settings as your
       global default. Your profile page and any actions or slates you create will have this
       default privacy setting unless you specifically override it.  Because this is a site
       for sharing information, we recommend you set your default to 'public', but it's up to you.</p>

     <p>Some notes about how we implement privacy, for those who want the nitty gritty details:
       <ul>
         <li>
           Even if you have everything set to follows-only, other people will
           be able to see that your username exists. We do it this way so that
           your friends can find you and two people with protected profiles can
           follow each other. Contact us if you have a need for a truly secret
           profile.
         </li>
         <li>
           If you change your default privacy setting, this will change
           the settings of all past actions, slates, etc that were not overridden.
         </li>
         <li>
           Privacy changes apply to the past in activity feeds. When you give someone
           access to your profile, by making it less restricted or by following them,
           their feed will contain your past activity; when you revoke access, your past
           activity will disappear from their feed.
         <li>
           In activity feeds, we err on the side of privacy, so if you can see
           person A but not action B, you won't see the fact that A started
           tracking B. In other situations, you may see a username for a person
           who's profile you're not allowed to see. If a person with a
           restricted profile creates a public action, anyone can see the
           action and that they created it. (But see below about anonymous
           actions!) If a person whose profile you can see follows or is
           followed by a person whose profile you can't see, you can see their
           connection.
         </li>
         <li>You can also choose to make an action
           "anonymous".  This prevents the action from naming you as the
           creator or linking back to your profile, but it is not 'truly'
           anonymous.  You'll still be able to edit your anonymous action and
           see it in your lists of created actions.
         </li>
       </ul>
     </p>

     <h4>Protecting your privacy</h4>

     <p>You can control access to most of your data, including but not limited to actions
       and slates you create, the actions and slates you take, and your personal account
       settings and profile.  If you choose to make this information public, your privacy
       will not be protected.  Additionally, semi-restricted settings like 'sitewide' and
       'friends only' rely on the discretion of other members of the site.  Please do not
       assume complete privacy protection for anything you do on the site, with the following
       exceptions:</p>

     <ul>
       <li>The email you used to sign up with ActionRising should never be exposed to anyone
         but you.</li>
       <li>If you set a location on your profile but select 'keep this hidden', no one should
         ever see your location but you.</li>
       <li>If you create an action and set the creator to 'anonymous', no one should know
         that you created the action but you.</li>
     </ul>

     <p>Although we cannot assure privacy for your activity on the site, we promise to do
       our best to protect it from hackers, government representatives, and malicious
       community members.  If you think a fellow site member is acting in bad faith,
       please contact us.</p>

     <h4>How we use your data</h4>

     <p>User-created data such as actions, slates, comments, etc may be used by
       other members of the site for a variety of purposes.  For instance, other
       members may copy your action outside the site in order to promote it.
       By using the site, you recognize that neither you nor ActionRising can fully
       control what happens to this class of data.</p>

     <p>ActionRising site administrators may use member data to analyze site activity
       and improve user experience.  Any public reports of this analysis will keep
       your identity private unless we receive explicit permission from you.</p>

     <p>Your email addresses will be used to contact you about site activity, new
       features, and more.  However, we will never give or sell your address to a
       third party.</p>

     <p>We do not currently store any ISP or session data, and have no plans to ever
       start doing so.  If this policy changes, we will proactively notify all members
       of the site.</p>

     <h4>Removing your data</h4>

     <p>Currently, there is no automated way to remove your data from the site.
       To promote consistency, we strongly encourage anonymizing data rather than
       deleting it.  Please contact us if you would like your information anonymized,
       or if you need to remove your data for safety reasons.</p>

     <h4>Connecting to Offsite Accounts</h4>

     <p>ActionRising now offers the ability to register through Facebook and Google,
       and to connect your account to Facebook, Google, and Twitter, through the
       <a href="https://oauth.net/" target="_blank">OAUTH protocol</a>. By using this
       protocol, we can authenticate your accounts without ever seeing or storing your
       passwords for those sites.</p>
     <p>We use these accounts only for authentication purposes.  If at any point
       in the future we choose to offer further integration, such as posting on your
       behalf, you will be explicitly asked to authorize said integration.</p>
   </div>
</div>

{% endblock content %}
