{% extends "mysite/base.html" %}

{% block title %}ActionRising{% endblock %}

{% block content %}

<div class="row">
   <div class="col-sm-10 col-sm-offset-1 privacy">
     <h2>Privacy Policy</h2>

     <p class="text-warning">Last Updated 1/27/2017</p>

     <p>This policy details how data about you is used when you access ActionRising.
     If we update it, we will revise the date, place notices on the site if changes
     are material, and/or obtain your consent as required by law.</p>

     <h4>Protecting your privacy</h4>

     <p>You can control access to most of your data, including but not limited to actions
       and slates you create, the actions and slates you take, and your personal account
       settings and profile.  If you choose to make this information public, your privacy
       will not be protected.  Additionally, semi-restricted settings like 'sitewide' and
       'friends only' rely on the discretion of other members of the site.  Please do not
       assume complete privacy protection for anything you do on the site, with the following
       exceptions:</p>

     <ul>
       <li>The email you used to sign up with ActionRising should never be exposed to anyone
         but you.</li>
       <li>If you set a location on your profile but select 'keep this hidden', no one should
         ever see your location but you.</li>
       <li>If you create an action and set the creator to 'anonymous', no one should know
         that you created the action but you.</li>
     </ul>

     <p>Although we cannot assure privacy for your activity on the site, we promise to do
       our best to protect it from hackers, government representatives, and malicious
       community members.  If you think a fellow site member is acting in bad faith,
       please contact us.</p>

     <h4>How we use your data</h4>

     <p>User-created data such as actions, slates, comments, etc may be used by
       other members of the site for a variety of purposes.  For instance, other
       members may copy your action outside the site in order to promote it.
       By using the site, you recognize that neither you nor ActionRising can fully
       control what happens to this class of data.</p>

     <p>ActionRising site administrators may use member data to analyze site activity
       and improve user experience.  Any public reports of this analysis will keep
       your identity private unless we receive explicit permission from you.</p>

     <p>Your email addresses will be used to contact you about site activity, new
       features, and more.  However, we will never give or sell your address to a
       third party.</p>

     <p>We do not currently store any ISP or session data, and have no plans to ever
       start doing so.  If this policy changes, we will proactively notify all members
       of the site.</p>

     <h4>Removing your data</h4>

     <p>Currently, there is no automated way to remove your data from the site.
       To promote consistency, we strongly encourage anonymizing data rather than
       deleting it.  Please contact us if you would like your information anonymized,
       or if you need to remove your data for safety reasons.</p>

   </div>
</div>

{% endblock content %}
