{% load static %}

{% if object.title %}
  <meta property="og:title" content="{{ object.title }}">
{% else %}
  <meta property="og:title" content="ActionRising">
{%endif %}

{% if object.description %}
  <meta property="og:description" content="{{ object.description|safe }}">
{% else %}
  <meta property="og:description" content="Take action with us on ActionRising!">
{%endif %}

{% if object.get_absolute_url_with_domain %}
  <meta property="og:url" content="{{ object.get_absolute_url_with_domain }}">
{% else %}
  <meta property="og:url" content="www.actionrising.com">
{%endif %}

<meta property="og:image" content="https://www.actionrising.com{% static 'images/logo_for_mediashare.png' %}">
