{% extends "mysite/base.html" %}

{% block title %} ActionRising Blog {% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2>ActionRising Blog</h2>

      {% for post in object_list reversed %}
        <div class="row">
          <div class="col-sm-12">
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            <h5>Posted {{ post.date_created }}</h5>
            {{ post.get_summary|safe }} [<a href="{{ post.get_absolute_url }}">Read more</a>]
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}
