{% load action_extras %}
{% get_duration_choices as duration_choices %}

<div class="btn-group" id="filter-duration-group">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Duration<span class="caret"></span></a>
  <ul class="dropdown-menu">
    {% for choice in duration_choices %}
      <li><a class="filter-duration" href="#">{{ choice }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a class="filter-duration" href="#">All</a></li>
  </ul>
</div>
