<div class="btn-group" id="filter-priority-group">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Priority<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a class="filter-priority" href="#">Emergency</a></li>
    <li><a class="filter-priority" href="#">High</a></li>
    <li><a class="filter-priority" href="#">Medium</a></li>
    <li><a class="filter-priority" href="#">Low</a></li>
    <li class="divider"></li>
    <li><a class="filter-priority" href="#">All</a></li>
  </ul>
</div>
