{% extends "mysite/base.html" %}

{% block page_specific_css %}
  table { font-size: 16px !important; }
  .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info { color: #ebebeb; }
  .even { background-color: #2b3e50 !important;}
{% endblock page_specific_css%}

{% block page_specific_javascript %}

    $.fn.dataTable.ext.search.push(function( settings, data, dataIndex ) {
            var pass_status = (($('#filter-active').is(':checked') && (data[4] == "Active")) ||
              (!$('#filter-active').is(':checked')));
            var pass_creator = (($('#filter-friends').is(':checked') && (data[5] == "True")) ||
              (!$('#filter-friends').is(':checked')));
            if (pass_status && pass_creator) {  return true; }
            return false;
    });

    $(document).ready(function() {
        var actionTable = $('#actions').DataTable({
           "bPaginate": false,
            "columnDefs": [
                {
                    "targets": [ 4 ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [ 5 ],
                    "visible": false
                }
            ]
        });
        // Event listener to the two range filtering inputs to redraw on input
        $('#filter-active, #filter-creation, #filter-friends, #filter-other').on('change',function () {
            actionTable.draw();
        } );
    } );

{% endblock page_specific_javascript %}

{% block content %}

    {% load profile_extras %}
    {% get_friendslist as friendlist %}

    <div class="row">
       <div class="col-sm-10 col-sm-offset-1">

         <h2>Actions</h2>

         Filter:

         <div class="btn-group" data-toggle="buttons">
           <label class="btn btn-primary">
             <input type="checkbox" autocomplete="off" id="filter-active"> Active Only
           </label>
          </div>

          <div class="btn-group" data-toggle="buttons">
           <label class="btn btn-primary">
             <input type="checkbox" autocomplete="off" id="filter-friends"> Friends Only
           </label>
         </div>


         {% include "actions/action_list_include.html" with object_list=object_list %}

       </div>
    </div>


{% endblock content %}
