{% load profile_extras %}
{% is_own_profile request.user object as own %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span data-toggle="collapse" href="#tracked-actions">
        {% if own %}
          Actions You Tracked
        {% else %}
          Actions {{ object.username }} Tracked
        {% endif %}
      </span>
    </h3>
  </div>
  <div id="tracked-actions" class="panel-collapse collapse in">
    <div class="panel-body">
      {% for action in tracked_actions %}
        <a href="{{ action.get_absolute_url }}">{{ action }}</a><br />
      {% empty %}
        {% if own %}
          You haven't tracked any actions yet. <a href="{% url 'actions' %}">Find some!</a>
        {% else %}
          {{ object.username }} hasn't tracked any actions yet.
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
