<table class="table table-striped table-hover" id="actions">
  <thead>
    <tr>
      <th>#</th>
      <th>Action</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
      {% for action in object_list %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{{ action.get_robust_url }}">{{ action.title }}</a></td>
          <td>{{ action.get_priority_display }}</td>
          <td>{{ action.get_status }}</td>
          <td>{% include "actions/action_label_include.html" with object_list=action.get_tags %}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
