<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Action</th>
      <th>Creator</th>
      <th>Deadline</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
      {% for action in object_list %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{{ action.get_absolute_url }}">{{ action.title }}</a></td>
          <td>{{ action.creator }}</td>
          <td>{{ action.deadline }}</td>
          <td>{{ action.get_tags }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
