{% extends "mysite/base.html" %}

{% block title %} {{ action.title }} | ActionRising{% endblock %}

{% block page_specific_meta %}
    {% include "mysite/share_meta_include.html" with object=action %}
{% endblock page_specific_meta %}

{% block content %}

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h2>{{ action.title }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-1">

        <div class="row">
           <div class="col-sm-12">
              {% include "actions/action_label_include.html" with object_list=topic_or_type_list %}
           </div>
        </div>

        <div class="row">
           <div class="col-sm-12">
              <span id="created_by">Created by <a href='action.creator.profile.get_absolute_url'>
                {{ action.creator.profile }}</a></span>
           </div>
        </div>

        {% if action.main_link %}
        <div class="row">
           <div class="col-sm-12">
             <h4 id="quick_link">Quick link: <a href="{{ action.main_link }}">{{ action.main_link }}</a></h4>
           </div>
        </div>
        {% endif %}

        <div class="row">
           <div class="col-sm-12 extra-margin-row">
             <div class="well" id="description">
                {{ action.description|safe }}
             </div>
             {% include "mysite/basic_info_include.html" %}
           </div>
        </div>

      	<div class="row">
           <div class="col-sm-12">
      			  <h4>Tracking This Issue ({{ trackers.total_count }})</h4>
      				{% include "profiles/tracker_include.html" with trackers=trackers action=action %}
           </div>
        </div>

      	<div class="row">
      		 <div class="col-sm-12">
      				<h4>Slates With This Issue ({{ slates.total_count }})</h4>
      				{% include "actions/slate_tracker_include.html" with slates=slates %}
      		 </div>
      	</div>

    </div> <!-- End left side-->

    <div class="col-sm-3" id="comment-sidebar">

        <div class="row">
      		 <div class="col-sm-12">
                {% include "actions/action_items/edit_object.html" %}
                {% include "actions/action_items/manage_action.html" %}
                {% include "actions/action_items/mark_action_as_done.html" %}
                {% include "actions/action_items/share.html" %}
                {% include "actions/action_items/flag.html" %}
           </div>
        </div>

        <div class="row">
      		 <div class="col-sm-12">
             {% if user.is_authenticated %}
                <h4>Comments</h4>
             {% endif %}
             {% include "comments/comments_include.html" with object=action %}
      		 </div>
      	</div>

    </div> <!-- End right side-->
  </div>

{% endblock content %}
