{% load plugin_templatetags %}

Filter:

{% include 'actions/action_controls/status_control.html' %}
{% include 'actions/action_controls/friends_control.html' %}
{% include 'actions/action_controls/priority_control.html' %}
{% include 'actions/action_controls/deadline_control.html' %}
{% get_plugin_templates "action_controls" %}
{% include 'actions/action_controls/notes_control.html' %}

<table class="table table-striped table-hover main-list" id="actions">
  <thead>
    <tr>
      <th>Created</th>
      <th>Action</th>
      <th>Tags</th>
      <th>Trackers</th>
      <th>Deadline?</th>
      <th>Priority?</th>
      <th>Status?</th>
      <th>Friends?</th>
      <th>Notes?</th>
      <th>Duration?</th>
      <th>Manage</th>
      {% get_plugin_templates "action_header_hidden" %}
    </tr>
  </thead>
  <tbody>

    {% for object in object_list reversed %}

        {% if has_notes %}
            {% include "actions/action_row_include.html" with action=object.action rel=object %}
        {% else %}
            {% include "actions/action_row_include.html" with action=object %}
        {% endif %}

    {% endfor %}

  </tbody>
</table>

<span class="hidden {% if can_edit_actions %}view_manage{% endif %}">
