function datelogic(days_til_deadline, deadline_status) {
  if ((deadline_status == "Today") || (deadline_status == "This Week") || (deadline_status == "This Month")) {
        if (days_til_deadline > 0) {
                if ((deadline_status == "Today" && days_til_deadline < 2) ||
                (deadline_status == "This Week" && days_til_deadline < 8) ||
                (deadline_status == "This Month" && days_til_deadline < 31)) {
                   return true;
                } else {
                   return false;  // If date too far in future
                }
        } else {
                return false;  // If deadline requested but action has no deadline set
        }
  } else {
        return true;  // If deadline not actually requested ("All", etc)
  }
}

function locationlogic(filtered_location, data) {

      {% load location_tags %}
      {% get_state_and_district request.user show_hidden_location=True as location_dict %}

      user_state = "{{ location_dict.state }}";
      user_district = "{{ location_dict.district }}";
      var state = data[state_index];
      var district = data[district_index];

      if (filtered_location == "My State") {
          return (state == user_state && state != "None");
      }

      if (filtered_location == "My District") {
          return (district == user_district && district != "None");
      }

      if (filtered_location == "National or Global") {
         if (state == "None" && district == "None" ) {
            return true;
         } else {
            return false;
         }
      }

      if (filtered_location == "Anywhere") {
        return true;
      }
}

function format ( d ) {
    // `d` is the original data object for the row
    return 'Notes: ' + d[8];
}

$(document).ready(function() {

    if ($('.view_manage')[0]) {
      var manager_column_visible = true;
    } else {
      var manager_column_visible = false;
    };

    var actionTable = $('#actions').DataTable({
        "iDisplayLength": 100,
        "aaSorting": [],
        "columnDefs": [
            {
                "targets": [ 4 ],
                "visible": false,
                "name":  "deadline"
            },
            {
                "targets": [ 5 ],
                "visible": false,
                "name":  "priority"
            },
            {
                "targets": [ 6 ],
                "visible": false,
                "name":  "status"
            },
            {
                "targets": [ 7 ],
                "visible": false,
                "name":  "creator"
            },
            {
                "targets": "district",
                "visible": false,
                "name":  "district"
            },
            {
                "targets": "state",
                "visible": false,
                "name":  "state"
            },
            {
                "targets": [ 8 ],
                "visible": false,
                "name":  "notes"
            },
            {
                "targets": [ 9 ],
                "visible": false,
                "name":  "duration"
            },
            {
                "targets": [ 10 ],
                "orderable": false,
                "visible": manager_column_visible,
                "name":  "manage"
            }
        ],
        "searchCols": [
          null, null, null, null, null, null, { "search": "True" }, null,
           null, null, null, null, null
        ]
    });

    var slateTable = $('#slates').DataTable({
        "iDisplayLength": 100,
        "aaSorting": [],
        "columnDefs": [
            {
                "targets": [ 3 ],
                "visible": false,
                "name":  "status"
            },
            {
                "targets": [ 4 ],
                "visible": false,
                "name":  "creator"
            }
        ],
        "searchCols": [
          null, null, null, { "search": "True" }, null, null
        ]
    });

    if ($.fn.dataTable.isDataTable("#actions")) {
      chosenTable = actionTable;
    }

    if ($.fn.dataTable.isDataTable("#slates")) {
      chosenTable = slateTable;
    }

    today = new Date();
    status_index = chosenTable.column('status:name').index();
    creator_index = chosenTable.column('creator:name').index();
    district_index = chosenTable.column('district:name').index();
    state_index = chosenTable.column('state:name').index();
    priority_index = chosenTable.column('priority:name').index();
    deadline_index = chosenTable.column('deadline:name').index();
    duration_index = chosenTable.column('duration:name').index();

    $.fn.dataTable.ext.search.push(function( settings, data, dataIndex ) {
            var pass_status = (($('#filter-active').is(':checked') && (data[status_index] == "True")) ||
              (!$('#filter-active').is(':checked')));
            var pass_creator = (($('#filter-friends').is(':checked') && (data[creator_index] == "True")) ||
              (!$('#filter-friends').is(':checked')));
            if (typeof filtered_location !== 'undefined') {
                var pass_location = locationlogic(filtered_location, data);
            } else {
                var pass_location = true;
            }
            if (typeof priority !== 'undefined') {
              var pass_priority = ((data[priority_index] == priority) || (priority == "") || (priority == "All"));
            } else {
              var pass_priority = true;
            }
            if (typeof duration !== 'undefined') {
              var pass_duration = ((data[duration_index] == duration) || (duration == "") || (duration == "All"));
            } else {
              var pass_duration = true;
            }
            if (typeof deadline !== 'undefined') {
              var pass_deadline = datelogic(data[deadline_index], deadline);
            } else {
              var pass_deadline = true;
            }
            if (pass_status && pass_creator && pass_priority && pass_deadline && pass_location && pass_duration) {
                return true;
            }
            return false;
    });

    // Event listener to the two range filtering inputs to redraw on input
    $('#filter-active').on('change',function () {
        chosenTable.columns().search('').draw();
    });
    $('#filter-friends').on('change',function () {
        chosenTable.draw();
    });
    $('.filter-priority').on('click',function () {
      chosenTable.draw(priority=$(this).text());
    });
    $('.filter-deadline').on('click',function () {
      chosenTable.draw(deadline=$(this).text());
    });
    $('.filter-duration').on('click',function () {
      chosenTable.draw(duration=$(this).text());
    });
    $('.filter-location').on('click',function () {
      chosenTable.draw(filtered_location=$(this).text());
    });
    $('#show-notes').on('change', function () {
      chosenTable.rows().every(function(){
        if ( this.child.isShown() ) {
            this.child.hide();
        }
        else {
            this.child( format(this.data()), "notesrow").show();
        }
      });
    });

} );
