{% extends "mysite/base.html" %}

{% block page_specific_css %}
	i { padding-right: 20px; }
	.btn-group > .btn + .dropdown-toggle { padding-top:18px; }
	.caret { padding-bottom: 7.5px;}
{% endblock page_specific_css%}

{% block content %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>{{ action.title }}
         {% ifequal object.creator.username request.user.username %}
             <a href="{{ object.get_edit_url }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
         {% endifequal %}
       </h2>
       <h4>Created by {{ action.get_creator_with_link|safe }}</h4>
       <i class="fa fa-location-arrow" aria-hidden="true"> <a href="{{ action.location }}">location</a> </i>
       <i class="fa fa-eye" aria-hidden="true"> {{ action.get_privacy_display }} </i>
       <i class="fa fa-space-shuttle" aria-hidden="true"> {{ action.get_status_display }} </i>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
			 {% include "profiles/action_management_include.html" %}
    </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h4>Quick link: <a href="{{ action.main_link }}">{{ action.main_link }}</a></h4>
       {{ action.text }}
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
        <p></p>  <!-- hack! -->
        {% include "actions/action_label_include.html" with object_list=topic_or_type_list %}
     </div>
  </div>

{% endblock content %}
