{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block page_specific_javascript %}
$("#id_topic_tags, #id_type_tags, #id_goal_tags").chosen()
{% endblock page_specific_javascript %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1" id="form-explanation">
    <h2>{% if object %} Edit {% else %} Create {% endif %}action</h2>
    <p>An action is any kind of task a user can do, from attending a protest to
    calling a representative to reading a resource to volunteering in their neighborhood.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">

    {% if special_action_form %}

      {{ special_action_form }}

    {% else %}

        <div class="row">
          <div class="col-sm-10 col-sm-offset-2 createactionbuttons">
            <h3>Create a special action?
            <a href="{% url 'create_phonescript_action' %}" class="btn btn-success">PhoneScript</a>
            </h3>
          </div>
        </div>

    {% endif %}

    <form class="form-horizontal" action="" method="post" id="action-form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <div class="col-md-10 col-md-offset-2">

          <a class="btn btn-default" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
          {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary action-submit-button" icon="star" %}
        </div>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock content %}

{% block page_specific_css %}
  {{ form.media }}
{% endblock page_specific_css %}
