{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
   <div class="col-sm-8 col-sm-offset-2 center-text">

     <h4>You can add up to five custom filters to your Actions page.</h4>

     <form id="filterform" action="" method="post">{% csrf_token %}

       {% for form in forms %}
          <div id="formdiv{{ forloop.counter }}" class="filterformdiv">


            <h2>{{ form.question }}</h2>


            <div class="extra-padding-top">

                {% if form.override_template %}
                    {% include form.override_template %}
                {% else %}
                    {% bootstrap_form form %}
                {% endif %}

                <div class="form-warning">
                {% if form.warning %}
                    {{ form.warning|safe }}
                {% endif %}
                </div>

            </div>

            <div class="center-text extra-padding-top">
                {% if not forloop.last %}
                    <a href="" class="btn btn-primary" onClick="getNextQuestion({{forloop.counter}}); return false;">Next Question</a>
                {% endif %}
                {% bootstrap_button "Get Results" button_type="submit" button_class="btn-primary" icon="star" %}
            </div>

            <h4>Question {{ forloop.counter }} of {{ forms|length }}</h4>
          </div>
       {% endfor %}

     </form>

   </div>
</div>

{% endblock content %}

{% block page_specific_javascript %}
    function getNextQuestion(index) {
      document.getElementById("formdiv" + index).style.display = "none";
      var next = index + 1;
      document.getElementById("formdiv" + next).style.display = "block";
    }

    $("#id_kinds, #id_topics, #id_time").chosen({width: "75%"});
{% endblock %}
