{% extends "mysite/base.html" %}

{% block title %} {{ object.title }} | ActionRising{% endblock %}

{% block page_specific_meta %}

<meta property="og:title" content="{{ object.title }}">
<meta property="og:description" content="Take action with us on ActionRising!">
<meta property="og:url" content="{{ object.get_absolute_url_with_domain }}">
<!-- <meta property="og:image" content=""> -->

{% endblock page_specific_meta %}

{% block page_specific_javascript %}
    {% include "actions/action_datatablesjs_include.html" %}
{% endblock page_specific_javascript %}

{% block content %}

  {% load profile_extras %}
  {% get_friendslist as friendlist %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>{{ object.title }}
         {% ifequal object.creator.username request.user.username %}
             <a href="{{ object.get_edit_url }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
         {% endifequal %}
     </div>
  </div>

  <div class="row">
     <div class="col-sm-4 col-sm-offset-1">
       <h4 id="created_by">created by <a href="{{ object.creator.profile.get_absolute_url }}">{{ object.creator }}</a></h4>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1 inline-flag">
        {% include 'flags/flag_include.html' with flag=flag %}
        {% include "mysite/basic_info_include.html" %}
    </div>
  </div>

  {% include "actions/hidden_action_include.html" %}

  {% if object.description %}
  <div class="row">
     <div class="col-sm-10 col-sm-offset-1 extra-margin-row" id="description">
         <p>{{ object.description|safe }}</p>
     </div>
  </div>
  {% endif %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>Actions</h2>
       {% include "actions/action_list_include.html" with object_list=actions %}
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1 inline-flag">
      {% ifequal object.current_privacy 'pub' %}
          {% include "actions/share_include.html" %}
      {% endifequal %}
    </div>
  </div>

  <div class="row">
		 <div class="col-sm-10 col-sm-offset-1">
       <h4>Comments</h4>
       {% include "actions/comments_include.html" with object=object %}
		 </div>
	</div>

{% endblock content %}
