{% extends "mysite/base.html" %}

{% block title %} {{ object.title }} | ActionRising{% endblock %}

{% block page_specific_meta %}
    {% include "mysite/share_meta_include.html" with object=object %}
{% endblock page_specific_meta %}

{% block page_specific_javascript %}
    {% include "actions/action_datatablesjs_include.html" %}
{% endblock page_specific_javascript %}

{% block content %}

  {% load profile_extras %}
  {% get_friendslist as friendlist %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>{{ object.title }}</h2>
       <h4>{{ object.summary }}</h4>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1 slate-action-items">
        {% include "actions/action_items/edit_object.html" %}
        {% include "actions/action_items/follow_slate.html" %}
        {% include "actions/action_items/slate_notifications.html" %}
        {% include "actions/action_items/share.html" %}
        {% include "actions/action_items/flag.html" %}
     </div>
  </div>

  {% include "actions/hidden_action_include.html" %}

  <div class="row extra-padding-top">
     <div class="col-sm-10 col-sm-offset-1">
       <ul class="nav nav-tabs">
         <li class="active"><a id="actionslink" aria-expanded="true" href="#actionlist" data-toggle="tab">List of Actions</a></li>
         <li class=""><a id="infolink" aria-expanded="false" href="#info" data-toggle="tab">Slate Details</a></li>
         <li class=""><a id="commentslink" aria-expanded="false" href="#interact" data-toggle="tab">Discussion</a></li>
       </ul>
     </div>
  </div>

  <div id="myTabContent" class="tab-content extra-padding-top">

    <div class="tab-pane fade" id="info">

          <div class="row">
             <div class="col-sm-10 col-sm-offset-1">
               <span id="created_by">Created by <a href="{{ object.creator.profile.get_absolute_url }}">
                 {{ object.creator.profile }}</a></span>
            </div>
          </div>

          {% if object.description %}
          <div class="row">
             <div class="col-sm-10 col-sm-offset-1" id="description">
               <div class="well">
                 <p>{{ object.description|safe }}</p>
               </div>
             </div>
          </div>
          {% endif %}

          <div class="row">
             <div class="col-sm-10 col-sm-offset-1">
                {% include "mysite/basic_info_include.html" %}
            </div>
          </div>
          <div class="row">
             <div class="col-sm-10 col-sm-offset-1">
                {% include "profiles/trackers/slate_tracker_include.html" %}
             </div>
           </div>

    </div>

    <div class="tab-pane fade active in" id="actionlist">
      <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
           {% include "actions/action_list_include.html" with object_list=actions %}
         </div>
      </div>
    </div>

    <div class="tab-pane fade" id="interact">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {% include "comments/comments_include.html" with object=object %}
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
