{% extends "mysite/base.html" %}

{% block page_specific_javascript %}
    {% include "actions/action_datatablesjs_include.html" %}
{% endblock page_specific_javascript %}

{% block content %}

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <h2>{{ object.name }}</h2>
       <p>{{ object.description }}</p>
     </div>
  </div>

  <div class="row">
     <div class="col-sm-10 col-sm-offset-1">

       <h2>Tagged Actions</h2>

       {% load profile_extras %}
       {% get_friendslist as friendlist %}

       {% include "actions/action_list_include.html" with object_list=action_list %}

     </div>
  </div>


{% endblock content %}
