{% load commitment_extras %}
{% get_commitment as commitment %}

{% if request.user.is_authenticated %}
    {% if object in request.user.profile.actions.all %}


      <div class="action-item">

        {% if commitment %}
            {% ifnotequal commitment 'Closed' %}
            <a href="{% url 'edit_commitment' pk=commitment.pk %}" title="Edit commitment">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>Edit your commitment
            </a>
            {% endifnotequal %}
        {% else %}
          <a href="{% url 'new_commitment' slug=object.slug %}" title="Make commitment">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>Commit to action
          </a>
        {% endif %}

      </div>
    {% endif %}
{% endif %}
