{% extends "notifications/email_templates/html/hold_accountable.html" %}

{% block actionrisingblurb %}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
  {{ SITE_NAME }} is a platform created to help individuals and communities figure
  out their next steps. We want you to take action - specific, meaningful,
  positive action - that fits the time and energy you have available.
  You don't have to be a member of {{ SITE_NAME }} to take action, but you're
  welcome to join us.</p>
{% endblock actionrisingblurb %}

{% block email_footer %}
{% endblock email_footer %}
