<div class="extra-padding-top">

    {% include 'profiles/trackers/tracker_summary_include.html' %}

    <div class="row collapse" id="PeopleTrackerList">
       <div class="col-sm-12">
          <h4>People</h4>

          {% for tracker in tracker_data.people_tracker_list.public_list %}
            <span class="tracker_span">
              <a href="{{ tracker.profile.get_absolute_url }}">{{ tracker.profile }}</a>
            </span>
          {% endfor %}

          {% if tracker_data.people_tracker_list.anonymous_count > 0 %}
              {% ifnotequal tracker_data.people_tracker_list.anonymous_count tracker_data.people_tracker_list.total_count %}
                and
              {% endifnotequal %}
              {{ tracker_data.people_tracker_list.anonymous_count }} anonymous
                  tracker{{ tracker_data.people_tracker_list.anonymous_count|pluralize }}
          {% endif %}

       </div>
    </div>
</div>
