{% extends "mysite/base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1" id="form-explanation">
    <h2>Notifications settings for {{ object.user.username }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="col-sm-offset-1">
        <p class="form-prompt">Please select when you would like to receive email notifications.</p>
    </div>
    <form id="settings_form" class="form-horizontal" action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <div class="col-md-10 col-md-offset-2">
          {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" icon="star" %}
        </div>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock content %}
